<div class="container">
  <h1>Edit Photo Gallery</h1>
  <p>ADD PHOTO to implement</p>

  <div class="row">

    <% @carphotos.each do |photo| %>
      <div class="col-xs-6 col-sm-3">
        <div class="gallery-img" style="background-image: url(<%= cl_image_path photo.photo %>);">
          <%= link_to car_carphoto_path(params[:car_id], photo), method: :delete do %>
            <i class="fas fa-trash-alt color-bin"></i>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>
