.edit-user-header {
  text-align: center;
  margin-bottom: 20px;
}

.cancel-account {
  text-align: center;
}

.row-display-flex {
  display: flex;
  justify-content: space-between;
}

.trash {
 position: relative;
 bottom: 4px;
}

