<div class="banner" style="background-image: linear-gradient(-225deg, rgba(100,100,100,0.5) 0%, rgba(0,0,0,0.6) 50%), url(<%= image_path('background.jpg') %>);">
  <div class="banner-content">
    <h1>“Money may not buy happiness, but I’d rather cry in a Jaguar than on a bus”
    </h1>
    <p>Rent your dream car</p>
    <div class="search-form">
      <%= render "shared/search_form" %>
    </div>
  </div>
</div>
