<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">

    <%= simple_form_for @booking do |f| %>

      <div class="booking-form">
        <%= f.input :start_date, placeholder: "dd/mm/yyyy" %>

        <%= f.input :end_date, placeholder: "dd/mm/yyyy" %>



        <h4>Total price: £312</h4>


        <%= f.submit class: "btn btn-danger" %>

      </div>
    <% end %>

  </div>
</div>

