<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="#">Privacy<i class="link"></i></a>
    <a href="#">Copyright<i class="link"></i></a>
    <a href="#">Sitemap<i class="link"></i></a>
  </div>
</div>
