.signup-form-title {
  text-align: center;
}

.form-names {
  display: flex;
  justify-content: flex-start;

}

.form-actions {
   display: flex;
   align-items: center;
   justify-content: center;
  & > * {
   margin: 0px 10px;
  }
}
