.signup-form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #4F4F4F;
}

.form-names {
  display: flex;
  justify-content: flex-start;
}

.form-actions {
   display: flex;
   align-items: center;
   justify-content: center;
  & > * {
   margin: 0px 10px;
  }
}

.first-name {
  width: 45%;
  margin-right: 10%;
}

.last-name {
  width: 45%;
}

.login-form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #4F4F4F;
}

.links {
  display: flex;
   align-items: center;
   justify-content: center;
  & > * {
   margin: 20px 10px;
  }
}

.remember-box {
   display: flex;
   align-items: center;
   justify-content: center;
}

.add-car-form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #4F4F4F;
}

.add-car-submit-button {
   display: flex;
   align-items: center;
   justify-content: center;
  & > * {
   margin: 20px 10px;
  }
}

.dropdowns {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  outline: none;
}

.dropdown-year {
   // width: 100%;
  height: 100%;
  // border: none;
  outline: none !important;
  border: 0px solid #FFF;


}

.dropdown-color {
  height: 100%;
  outline: none !important;
  border: 0px solid #FFF;

}


.input-group {
  margin: 15px 0px;
}

.selectWrapper {
  border-radius: 20px;
  overflow: hidden;
  height: 39px;
  width: 90%;
  display: inline-block;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: transparent;
}

.input-group-fix-left{
  border-top-left-radius: $border-radius-base !important;
  border-bottom-left-radius: $border-radius-base !important;
}

.input-group-fix-right{
  border-top-right-radius: $border-radius-base !important;
  border-bottom-right-radius: $border-radius-base !important;
}


// btn-file edit: https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3

// .btn-file {
//     position: relative;
//     overflow: hidden;
// }
// .btn-file input[type=file] {
//     position: absolute;
//     top: 0;
//     right: 0;
//     min-width: 100%;
//     min-height: 100%;
//     font-size: 100px;
//     text-align: right;
//     filter: alpha(opacity=0);
//     opacity: 0;
//     outline: none;
//     background: white;
//     cursor: inherit;
//     display: block;
// }
