<div class="container">
  <div class="wrapper">
    <div class="search-form">
      <%= render "shared/search_form" %>
    </div>
    <div class="row">
      <%= render "shared/card" %>
    </div>
  </div>
</div>

